<% if logged_in? %>

  <h1>binevenu</h1>


<p>
<% @user.each do |use|%>
  <p><%= use.first_name %></br>
    <%= use.last_name %></br>
    <%= use.email %></p>
<% end %>
</p>


<% else %>
  You need to be logged in to access this content. <br><br>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>     <%= link_to "Log in", login_path, class: "btn btn-lg btn-primary" %>

<% end %>